<div class="row">
  <div class="col-lg-2 col-xs-0">
  </div>
    <div class="col-lg-8 col-xs-12">
      <br>
	  <% if @user == current_user%>
	    <br>
	    <div>
	      <h1><i class="fas fa-user"></i> マイページ</h1>
        </div>
        <br>
	  <% else %>
	    <h3><i class="fas fa-user"></i> プロフィール</h3>
	    <br>
	  <% end %>
	  <div class="mypage">
	    <div class="profile-imag">
	      <div>
		    <%= attachment_image_tag @user, :profile_image, fallback: "no_image.png", class:"img-square" %>
		  </div>
		  <div class="profile-name" >
		    <%= @user.name%>
		    <% if @user == current_user%>
		      <%= link_to edit_user_path, 'data-turbolinks': false do %>
		        <i class="fas fa-edit"></i>
		      <% end %>
		    <% end %>
		  </div>
	    </div>
	    <table class="table table-striped">
	      <tr>
		    <td>
		      <div><strong>自己紹介</strong></div>
			  <% unless @user.introduction.nil? %>
			    <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
			  <% else %>
			    <div class="prof-intro"></div>
			  <% end %>
		    </td>
	      </tr>
	      <tr>
		    <td>
		      <div>住所</div>
		      <span><%= @user.prefecture_name %></span>
              <span><%= @user.address_city %></span>
		    </td>
		  </tr>
        </table>
		<% if @user == current_user%>
	      <%= link_to "取　引　履　歴", orders_path, class: "btn btn-info btn-lg btn-block" %>
		<% end %>
	    <% if @products.count == 0 %>
	      <h3>投稿商品一覧</h3>
		  <h4>　　投稿された商品はありません<h4>
	    <% else %>
	    <div class="mypage-product">
          <h3>投稿商品一覧</h3>
	      <table class="table table-hover table-inverse">
	        <thead>
		      <tr>
		        <th></th>
		        <th>商品名</th>
		        <th>販売ステータス</th>
		      </tr>
	        </thead>
	        <tbody>
		      <% @products.each do |product| %>
		        <tr>
			      <td>
			        <%= link_to product_path(product) do %>
				      <% product.product_images.first(1).each do |image| %>
				        <%= attachment_image_tag image, :image, class:"img-square", fallback: "no_image.png", size:"200x160" , 'data-turbolinks': false %>
				      <% end %>
			        <% end %>
			      </td>
			      <td><%= link_to product.name, product_path(product), 'data-turbolinks': false %></td>
			      <td><%= product.is_active ? "取引終了" : "販売中"  %></td>
		        </tr>
		      <% end %>
	        </tbody>
	      </table>
	      <div class='paginate'><%= paginate @products %></div>
	    </div>
	  <% end %>
	</div>
  </div>
</div>