<header>
  <div class="container">
    <div class='row'>
      <% if user_signed_in? %>
        <div class="col-lg-4 col-md-4 col-xs-4 top-user">
          <span>
            <%= link_to user_path(current_user.id) do %>
              <%= attachment_image_tag current_user, :profile_image, fallback: "no_image.png", class:"top-profile" %>
              <span class="menu-on"><%= current_user.name %>さん</span>
            <% end %>
          </span>
        </div>
      <% else %>
        <div class="col-lg-4 col-md-4 col-xs-4"></div>
      <% end %>
      <div class="col-lg-4 col-xs-4 title">
        <%= link_to "WASRe:", root_path, class: "title-name" %>            
      </div>
      <div class="col-lg-4 col-md-4 top-search menu-on">
        <div  class="form-group search">
          <%= form_with(url: products_path, method: :get, local: true) do %>  
            <%= text_field_tag :search, params[:search] ,class:"form-control" %>
            <%= submit_tag "商品検索", :name => nil ,class:"btn btn-default" %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-12  col-md-12 col-xs-4">
        <div id="sp-menu">
          <nav>
            <li class="menu-none form-group search">
              <%= form_with(url: products_path, method: :get, local: true) do %>  
                <%= text_field_tag :search, params[:search] ,class:"form-control" %>
                <%= submit_tag "商品検索", :name => nil ,class:"btn btn-default" %>
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", user_path(current_user.id) %></li>
              <li><%= link_to "商品一覧", products_path %></li>
              <li><%= link_to "新規投稿", new_product_path, 'data-turbolinks': false %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <% if current_user.admin_flg == true %>
                <li><%= link_to "管理者画面", rails_admin_path %></li>
              <% end %>
            <% else %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", about_path, 'data-turbolinks': false %></li>
              <li><%= link_to "商品一覧", products_path %></li>
              <li><%= link_to 'ｹﾞｽﾄﾛｸﾞｲﾝ(閲覧用)', users_guest_sign_in_path, method: :post %></li>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
          </nav>
        </div>
        <div id="hm-icon">
          <a class="menu-trigger">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>