
<% if @product.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h3><%= @product.errors.count %>個のエラーがあります。</h3>
    <ul>
	  <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if product.name.nil? %>
  <h1 class="product-title"><i class="fas fa-gift"></i>商品新規投稿</h1><br>
<% else %>
  <h1 class="product-title"><i class="fas fa-wrench"></i>商品編集</h1><br>
<% end %>
<%= form_with model:@product, local:true do |f| %>
  <div class="row">
	<div class="col-xs-12">
	  <div class="view">
	    <div class="view_box">
		  <label>画像１</label>
		  <%= f.attachment_field :product_images_images, multiple: true, class: "file" %>
		</div>
		<div class="view_box">
		  <label>画像２</label>
		  <%= f.attachment_field :product_images_images, multiple: true, class: "file" %>
		</div>
		<div class="view_box">
		  <label>画像３</label>
		  <%= f.attachment_field :product_images_images, multiple: true, class: "file" %>
		</div>
		<div class="view_box">
		  <label>画像４</label>
		  <%= f.attachment_field :product_images_images, multiple: true, class: "file" %>
		  </div>
	    </div>
	  </div>
	<div class="col-xs-3">
	</div>
	<div class="col-xs-6">
	  <div class="field form-group">
		<%= f.label :"商品名" %>
		<%= f.text_field :name, placeholder: "商品名", class: "form-control" %>
		</div>
		<div class="field form-group">
		  <%= f.label :"商品説明" %>
		  <%= f.text_area :introduction, :size=>"35", placeholder: "商品説明", class: "form-control" %>
		</div>
		<div class="field form-group">
		  <%= f.label :"ジャンル"%><br />
		  <%= f.collection_select :genre_id, Genre.where(is_active: "true"), :id, :name,disabled: true, include_blank: "選択して下さい", class: "dropdown-menu" %>
		</div>
		<div class="field form-group">
		  <%= f.label :"商品状態"%><br />
		  <%= f.select :status, Product.statuses.keys.to_a, include_blank: "選択して下さい", class: "dropdown-menu" %>
		</div>
		<div class="field form-group">
		  <%= f.label :'タグ（例：音楽 文芸 スポーツ）'%>
		  <%= f.text_area :tag_name, placeholder: "スペースを入力することで複数のタグを付けることができます。", class: "form-control" %>
		</div>
        <% if product.name.nil? %>
	      <%= f.submit "新規登録", class: "btn btn-success" %>
        <% else %>
          <%= f.submit "編集内容を保存する",class:"btn btn-primary" %>
        <% end %>
      </div>
	</div>
	<div class="col-xs-3">
	</div>
  </div>
<% end %>