<h1 class="product-title">
  <% if product.name.nil? %>
    <i class="fas fa-gift"></i>商品新規投稿
  <% else %>
    <i class="fas fa-wrench"></i>商品編集
  <% end %>
</h1><br>
<%= form_with model:@product, local:true do |f| %>
  <div class="row">
	<div class="col-xs-12">
	  <div class="view">
		<div class="view_box">
		  <label>画像１</label>
		  <%= f.attachment_field :product_images_images, multiple: true, class: "file" %>
		</div>
		<div class="view_box">
		  <label>画像２</label>
		  <%= f.attachment_field :product_images_images, multiple: true, class: "file" %>
		</div>
		<div class="view_box">
		  <label>画像３</label>
		  <%= f.attachment_field :product_images_images, multiple: true, class: "file" %>
		</div>
		<div class="view_box">
		  <label>画像４</label>
		  <%= f.attachment_field :product_images_images, multiple: true, class: "file" %>
		  </div>
		</div>
	  </div>
	<div class="col-lg-3 col-md-3 col-xs-0">
	</div>
	<div class="col-lg-6 col-md-6 col-xs-12">
	  <div class="field form-group">
		<%= f.label :"商品名" %>
		<%= f.text_field :name, placeholder: "商品名", class: "form-control" %>
		</div>
		<div class="field form-group">
		  <%= f.label :"商品説明" %>
		  <%= f.text_area :introduction, :size=>"20x7", placeholder: "商品説明", class: "form-control" %>
		</div>
		<div class="field form-group">
		  <%= f.label :"ジャンル"%><br />
		  <%= f.collection_select :genre_id, Genre.where(is_active: "true"), :id, :name,disabled: true, include_blank: "選択して下さい", class: "dropdown-menu" %>
		</div>
		<div class="field form-group">
		  <%= f.label :"商品状態"%><br />
		  <%= f.select :status, Product.statuses.keys.to_a, include_blank: "選択して下さい", class: "form-control" %>
		</div>
		<div class="field form-group">
		  <%= f.label :'タグ（例：ジャケット アウトドア ブランド）'%>
		  <%= f.text_area :tag_name, placeholder: "スペースを入力することで複数のタグを付けることができます。", class: "form-control" %>
		</div>
        <% if product.id.nil? %>
	      <%= f.submit "新規登録", id:"ButtonStateful" , class: "btn btn-success sub-produtc", 'data-turbolinks': false, 'data-loading-text': "実行中", autocomplete: "off" %>
        <% else %>
          <%= f.submit "編集内容を保存する", id:"ButtonStateful" , class:"btn btn-primary sub-produtc", 'data-turbolinks': false, 'data-loading-text': "実行中", autocomplete: "off" %>
        <% end %>
      </div>
	</div>
	<div class="col-lg-3 col-md-3 col-xs-0">
	</div>
  </div>
<% end %>