<div class="col-lg-3 col-xs-12">
  <% if product.product_images.present? %>
    <div id="slider">
      <% product.product_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 200, 200 %>
      <% end %>
    </div>
  <% else %>
    <%= image_tag 'no_image.png', size: '200x200' %>
  <% end %>
</div>
<div class="col-lg-5 col-xs-12">
  <table class="table table-striped product-show">
    <tr>
      <th>投稿者</th>
      <td>
        <%= link_to user_path(product.user) do %>
          <%= attachment_image_tag product.user, :profile_image, fallback: "no_image.png", size:"30x30" %>
          <%= product.user.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>商品名</th>
      <td><%= product.name %></td>
    </tr>
    <tr>
      <th>ジャンル</th>
      <td><%= link_to product.genre.name, products_path(genre_id: product.genre.id)  %></td>
    </tr>
    <tr>
      <th>販売ステータス</th>
      <td><%= product.status  %></td>
    </tr>
    <tr>
      <th>タグ</th>
      <td>
        <% product_tags.each do |tags|%>
          <%= link_to tags.tag_name, products_path(tag_id: tags.id), class: "btn btn-info btn-xs" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>取引状態</th>
      <td><%= product.is_active ? "取引終了" : "販売中"  %></td>
    </tr>
  </table>
  <% if product.user == current_user %>
    <% unless product.is_active %>
      <div class="product-edit">
        <%= link_to "編集する", edit_product_path(product), class: "btn btn-primary" %>
        <%= link_to '削除する', product_path(product), method: :delete, data: {confirm:"本当に消しますか？"} ,class: " btn btn-danger" %>
      </div>
    <% end %>
  <% end %>
</div>