<div class="products-index"><br>
  <%= render 'genre', genres: @genres %>
    <div class="col-xs-9">
      <% if params[:genre_id].present? %>
        <h2><%= @genre.name %></h2>
      <% elsif params[:tag_id].present? %>
        <h2><%= @tag.tag_name %>一覧</h2>
      <% elsif params[:search]%>
        <h2>検索結果：<%= @product %></h2>
      <% else %>
        <h2>全商品</h2>
      <% end %>
      <h4>(全<%= @products_all.count %>件)</h4>
      <div class="product-contena">
        <% @products.each do |product| %>
          <div class="product-box">
            <%= link_to product_path(product) do %>
              <% product.product_images.first(1).each do |image| %>
                <%= attachment_image_tag image, :image, :fill, 280, 280, 'data-turbolinks': false, fallback: "no_image.jpg", size:"200x160", class: 'product-image'%>
              <% end %>
            <% end %>
            <p class="product-name"><%= product.name %></p>
          </div>
        <% end %>
      </div>
      <div class='paginate'><%= paginate @products %></div>
    </div>
  </div>
</div>