<div class="row">
  <div class="col-lg-3 col-xs-4">
    <%= render 'genre', genres: @genres %>
  </div>
  <div class="col-lg-9 col-xs-8">
    <h2><i class="fas fa-boxes"></i>
      <% if @genre_id.present? %>
        <%= @genre.name %>
      <% elsif params[:tag_id].present? %>
        <%= @tag.tag_name %>一覧
      <% elsif @product %>
        検索結果：<%= @product %>
      <% else %>
        全商品
      <% end %>
    </h2>
    <h4>(全<%= @products_all.count %>件)</h4>
    <div class="product-contena">
      <% @products.includes(:product_images).each do |product| %>
        <div class="product-box">
          <%= link_to product_path(product) do %>
            <% product.product_images.first(1).each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 280, 280, 'data-turbolinks': false, class: 'product-image' %>
            <% end %>
            <p class="product-name"><%= product.name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='paginate'><%= paginate @products %></div>
  </div>
</div>