<% if @product.errors.any? %>
      <div id="error_explanation">
        <h3><%= @product.errors.count %>個のエラーがあります。</h3>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
<% end %>
<h3 class="admin-title">商品新規登録</h3><br>
<%= form_with model:@product, local:true do |f| %>
  <div class="row">
	<div class="col-xs-6">
	  <table class="table">
	    <thead>
	      <tr>
	      	<th></th>
	      	<td>
	      	  <div class="item-image">
                  <% @product.product_images.each do |imag| %>
                    <%= attachment_image_tag imag, :image, :fill, 200, 200, fallback: "no_image.jpg", size:"200x160"  %>
                  <% end %>
	      	      <%= f.attachment_field :product_images_images, multiple: true %>
	      	  </div>
	      	</td>
	      </tr>
		  <tr>
		    <th><%= f.label :"商品名" %></th>
		    <th><%= f.text_field :name, placeholder: "商品名" %></th>
		  </tr>
		  <tr>
		    <th><%= f.label :"商品説明" %></th>
		    <th><%= f.text_area :introduction, :size=>"35", placeholder: "商品説明" %></th>
		  </tr>
		  <tr>
		    <th><%= f.label :"ジャンル"%></th>
		    <th>
		  	  <%= f.collection_select :genre_id, Genre.where(is_active: "true"), :id, :name,disabled: true, include_blank: "選択して下さい" %>
		    </th>
		  </tr>
      <tr>
		    <th><%= f.label :"商品状態"%></th>
		    <th>
          <%= f.select :status, Product.statuses.keys.to_a, include_blank: "選択して下さい" %>
		    </th>
		  </tr>
	    </thead>
	  </table>
	    <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
<script>
    $(function(){
    // inputのidから情報の取得
    $(".item-image").on('change', function (e) {
    // ここから既存の画像のurlの取得
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".image").attr('src', e.target.result);
    }
    // ここまで
    reader.readAsDataURL(e.target.files[0]);
    //取得したurlにアップロード画像のurlを挿入
});
});
</script>