<div class="row">
  <div class="col-lg-2 col-xs-0">
  </div>
  <div class="col-lg-10 col-xs-12">
    <h1 class="product-title"><i class="fas fa-box-open"></i>商品詳細</h1><br>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 col-xs-0">
  </div>

  <%= render 'product', product: @product, product_tags: @product_tags %>

  <div class="col-lg-2 col-xs-0">
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-3">
    <div class="favorite-comment">

      <div id="comments_count">
        <%= render 'comments/count', product: @product %>
      </div>

      <div class="favorite", id="favorite_<%= @product.id %>">
        <%= render 'favorites/favorite', product: @product %>
      </div>

    </div>
  </div>
  <div class="col-lg-7">
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 product-intro">
    <div><strong>商品説明</strong></div>
    <div>
      <%= safe_join(@product.introduction.split("\n"),tag(:br)) %>
    </div>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-xs-0">
  </div>
  <div class="col-lg-6 col-xs-12 comment-box">

    <div id="comments_area">
      <%= render 'comments/index', product: @product %>
    </div>

    <div id="comment">
      <%= render "comments/form", product: @product, comment: @comment %>
    </div>

    <%= render "message_room", product: @product, isRoom: @isRoom, room: @room, entry: @entry  %>

  </div>
  <div class="col-lg-3 col-xs-0">
  </div>
</div>