<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    <h1 class="product-title"><i class="fas fa-box-open"></i>商品詳細</h1><br>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-3">
    <!-- 商品 -->
    <% if @product.product_images.present? %>
      <div id="slider">
        <% @product.product_images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 200, 200 %>
        <% end %>
      </div>
    <% else %>
      <%= image_tag 'no_image.png', size: '200x200' %>
    <% end %>
    
    <!-- 商品 -->
  </div>
  <div class="col-lg-5">
	  <table class="table table-striped product-show">
      <tr>
			  <th>投稿者</th>
			    <td>
            <%= link_to user_path(@product.user) do %>
              <%= attachment_image_tag @product.user, :profile_image, fallback: "no_image.png", size:"30x30" %>
              <%= @product.user.name %>
            <% end %>
          </td>
		  </tr>
		  <tr>
			  <th>商品名</th>
			  <td><%= @product.name %></td>
		  </tr>
		  <tr>
			  <th>ジャンル</th>
			  <td><%= link_to @product.genre.name, products_path(genre_id: @product.genre.id)  %></td>
		  </tr>
		  <tr>
	      <th>販売ステータス</th>
		    <td><%= @product.status  %></td>
		  </tr>
      <tr>
	        <th>タグ</th>
		    <td>
          <% @product_tags.each do |tags|%>
            <%= link_to tags.tag_name, products_path(tag_id: tags.id), class: "btn btn-info btn-xs" %>
          <% end %>
        </td>
		  </tr>
		  <tr>
	      <th>取引状態</th>
		    <td><%= @product.is_active ? "取引終了" : "販売中"  %></td>
		  </tr>
	  </table>
    <% if @product.user == current_user %>
      <% unless @product.is_active %>
        <div class="product-edit">
	        <%= link_to "編集する", edit_product_path(@product), class: "btn btn-primary" %>
          <%= link_to '削除する', product_path(@product), method: :delete, data: {confirm:"本当に消しますか？"} ,class: " btn btn-danger" %>
        </div>
      <% end %>
    <% end %>
    <div class="col-xs-2">
    </div>
  </div>
</div>

<!-- コメント -->
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-3">
    <div class="favorite-comment">
      <div id="comments_count">
        <%= render 'comments/count', product: @product %>
      </div>
      <div class="favorite", id="favorite_<%= @product.id %>">
        <%= render 'favorites/favorite', product: @product %>
      </div>
    </div>
  </div>
  <div class="col-lg-7">
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 product-intro">
    <div><strong>商品説明</strong></div>
    <div>
      <%= safe_join(@product.introduction.split("\n"),tag(:br)) %>
    </div>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<!-- コメント -->
<div class="row">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-6 comment-box">
    <div id="comments_area">
      <%= render 'comments/index', product: @product %>
    </div>
    <div id="comment">
      <%= render "comments/form", product: @product, comment: @comment %>
    </div>
    <!-- チャット -->
    <% if user_signed_in? %>
      <% unless @product.user_id == current_user.id %>
        <% if @isRoom == true %>
          <p class="user-show-room"><a href="/rooms/<%= @room.id %>" class="btn btn-primary btn-block btn-lg chat-sub">取引チャットへ</a>
        <% else %>
          <% unless @product.is_active %>
            <%= form_with model: @room ,locale: true do |f| %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @product.user_id %>
              <% end %>
              <%= f.submit "取　引　開　始", data: {confirm:"取引開始しますが本当によろしいでしょうか？"}, class:"btn btn-primary btn-lg btn-block chat-sub"%>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% if @isRoom == true %>
          <p class="user-show-room"><a href="/rooms/<%= @room.id %>" class="btn btn-primary btn-lg btn-block chat-sub">取引チャットへ</a>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-3">
  </div>
</div>
