<!DOCTYPE html>
<html>
  <head>
    <title>Waste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top">
  <div class="container">
    <div class='row'>

<% if user_signed_in? %>
<span class="nav-name">
  <%= current_user.name %>さん、こんにちは！
</span>
<% end %>


<% if user_signed_in? %>
      <div class='col-xs-offset-5'>
        <nav class='nav navbar-nav navbar-center' >
        <h4 class="customer-h4">WASRE</h4>
        </nav>
      </div>
<% else %>
      <div class='col-xs-offset-5'>
        <nav class='nav navbar-nav navbar-center' >
        <h4>WASRE</h4>
        </nav>
      </div>
<% end %>


<!-- 条件分岐で管理人、会員、顧客用のヘッダーを表示 -->
  <%
=begin%>
 <% if admin_signed_in? %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "商品一覧", admin_products_path,class: "Editlink" %></li>
          <li><%= link_to "会員一覧", admin_customers_path,class: "Editlink" %></li>
          <li><%= link_to "注文履歴一覧", admin_orders_path,class: "Editlink" %></li>
          <li><%= link_to "ジャンル一覧", admin_genres_path,class: "Editlink" %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "Editlink" %></li>
      </ul>
    </nav> 
<%
=end%>

  <% if user_signed_in? %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li class="customer-li"><%= link_to "マイページ", customers_path,class: "Editlink" %></li>
          <li class="customer-li"><%= link_to "商品一覧", products_path,class: "Editlink" %></li>
          <li class="customer-li"><%= link_to "カート", cart_items_path,class: "Editlink" %></li>
          <li class="customer-li"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: "Editlink"%></li>
      </ul>
    </nav>
  <% else %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path,class: "Editlink" %></li>
          <li><%= link_to "About", home_about_path,class: "Editlink" %></li>
          <li><%= link_to "商品一覧", home_about_path,class: "Editlink" %></li>
          <li><%= link_to "新規登録", new_user_registration_path,class: "Editlink" %></li>
          <li><%= link_to "ログイン", new_user_session_path,class: "Editlink" %></li>
      </ul>
    </nav>
  <% end %>
    </div>
  </div>
</header>

  <div class= container>
    <%= yield %>
  </body>
    </div>
<footer>
</footer>
</html>
